<ng-include src="'views/nav.html'"></ng-include>
<div class="jumbotron">
  <h1>TV Pub</h1>
  <p class="lead">
    <img src="images/blueTV.png" width="35%" height="35%" alt="I'm Yeoman"><br>
    Find new shows and keep track of favorites!
  </p>
  <form role="search">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="">
    </div>
        <button type="search" class="btn btn-default">Search</button>
  </form>
  <p><a href="">View All</a></p>
</div>

<div class="row marketing">
  <div ng-repeat="tvshow in searchResults">
    <p ng-if="tvshow.loading">Loading...</p>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="images/animated-television.gif" alt="...">
        <div class="caption">
          <h4 ng-if="tvshow.name">{{tvshow.name}}</h4>
          <p ng-if="tvshow.overview">{{tvshow.overview}}</p>
          <p><button class="btn btn-default" role="button" ng-click="addSeries(tvshow.id)">+</button></p>
        </div>
      </div>
    </div>
  </div>
</div>
